

.Card {

    // max-width: 400px;
    margin: auto;

    &__st2 {
        fill: #fff;
    }

    &__cardBackground {
        fill: #042fb6d4;
    }

    &__darkcolor {
        fill: #000000a8;
    }

    &__number {
        font-size: 66px;
    }

    &__title {
        font-size: 26px;
        padding-bottom: 5px;
    }

    &__expiration {
        font-size: 45px;
    } 

    &__cardholdername {
        font-size: 40px;
        text-transform: capitalize;
    }

}