@import "../Root.scss";

.Header {
    clear: inherit;
    text-align: center;
    margin-top: 55px;

    &__title {
        display: flex;
        flex-direction: column;

        &__logo {
            font-size: 64px;
            font-weight: 5;
            line-height: 30px;
            color: #fff;

            span {
                color: $accent;
                font-weight: 4;
            }
        }


        &__logo__black {
            font-size: 64px;
            font-weight: 5;
            line-height: 30px;
            color: #000;

            span {
                color: $accent;
                font-weight: 4;
            }
        }

        &__text {
            font-size: 36.9px;
            font-weight: 3;
            color: #fff;
        }

        &__text__black {
            font-size: 36.9px;
            font-weight: 3;
            color: #000;
        }
    }
}

@media screen and (max-width: 450px) {
    .Header {
        clear: inherit;
        margin-top: 55px;

        &__title {
            display: flex;
            flex-direction: column;

            &__logo {
                font-size: 49px;
                font-weight: 5;
                line-height: 30px;

                span {
                    color: $accent;
                    font-weight: 4;
                }
            }

            &__text {
                font-size: 28.2px;
                font-weight: 3;
            }

            &__logo__black {
                font-size: 49px;
                font-weight: 5;
                line-height: 30px;
                color: #000;

                span {
                    color: $accent;
                    font-weight: 4;
                }
            }

            &__text__black {
                font-size: 28.2px;
                font-weight: 3;
            }
        }
    }
}