.MessageSuspense {
    background: #eee;
    margin-top: 15px;
    border-radius: 20px;
    padding: 10px;

    &__wrapp {
        display: flex;
        justify-content: center;

        &__message {

            & > img {
                max-width: 24px;
                vertical-align: middle;
                margin-right: 3px;
            }
        }
    }

}