

.Wrapper {
    padding: 25px 0px 25px 0px;
    // box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.18);
    border-radius: 20px;
    text-align: center;
    position: relative;
    max-width: 800px;
    margin: 80px auto 50px;

    &__card {
        margin: 130px auto 30px;
    }

    &__nocard {
        margin: 30px auto 30px;
    }
}