@import '../Root.scss';

body {
    margin: 0;
    padding: 0;
    background: #000;
}


.Index {
    width: 97%;
    max-width: 600px;
    margin: auto;
    position: relative;
    z-index: 10;

    &__rotate_elem {
        background: linear-gradient(0deg, #228ac3 0%, #27007e 81%);
        height: 100%;
        aspect-ratio: 1;
        position: fixed;
        left: 50%;
        top: 50%;
        translate: -50% -50%;
        border-radius: 50%;
        animation: rotate 20s infinite;
        opacity: 0.8;
    }

    &__background_fon {
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: 2;
        backdrop-filter: blur(12vmax);
    }

    &__title {
        margin: 30px 0px;
        color: #fff;
    }

    &__icons {

        margin-top: 20px;

        &__items {
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            &__img {
                max-width: 100px;
            }
        }

    }
}



@keyframes rotate {
    0% {
        rotate: 0deg;
    }

    50% {
        scale: 1 1.5;
    }

    100% {
        rotate: 360deg;
    }
}

@media (max-width: 650px) {
    .Index {
        &__title {
            margin-top: 30px;

            &>h1 {
                font-size: 25px;
            }
        }
    }
}

@media (max-width: 500px) {
    .Index {
        &__title {
            margin-top: 30px;

            &>h1 {
                font-size: 19px;
            }
        }

        &__icons {
            &__items {
                display: flex;
                flex-direction: column;

                &__img {
                    margin: 10px 0px;
                }
            }
        }
    }
}