@import '../Root.scss';

body {
    background-size: 140px, 100%, cover;
    background-blend-mode: overlay;
    // background: url('/app/Static/img//mask.png'), radial-gradient(circle farthest-corner at 0 0, #000 30%, #a899fb 65%, #732fc9 80%, #c1f1ff 110%) no-repeat, radial-gradient(closest-side at 60% 50%, #732fc9 20%, #000 100%) no-repeat;
    background: radial-gradient(circle farthest-corner at 0 0, #000 30%, #a899fb 65%, #732fc9 80%, #c1f1ff 110%) no-repeat, radial-gradient(closest-side at 60% 50%, #732fc9 20%, #000 100%) no-repeat;
}

.Index {
    width: 97%;
    max-width: 600px;
    margin: auto;

    &__title {
        margin: 30px 0px;
        color: #fff;
    }

    &__icons {

        margin-top: 20px;

        &__items {
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            &__img {
                max-width: 100px;
            }
        }

    }
}

@media (max-width: 650px) {
    .Index {
        &__title {
            margin-top: 30px;

            &>h1 {
                font-size: 25px;
            }
        }
    }
}

@media (max-width: 500px) {
    .Index {
        &__title {
            margin-top: 30px;

            &>h1 {
                font-size: 19px;
            }
        }

        &__icons {
            &__items {
                display: flex;
                flex-direction: column;

                &__img {
                    margin: 10px 0px;
                }
            }
        }
    }
}