
 :root {
  --grain: url('./Static/img/mask.png')
 }
html,
body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  /* background:radial-gradient(circle at 0 0, #4dabff5e 30%, #8b7aea 65%, #6762fb 80%, #4164ec 110%) no-repeat, radial-gradient(closest-side at 60%, #d8e3ff 20%, #0000007d 100%) no-repeat; */
  /* background-size: 140px, 100%, cover; */
  /* background-blend-mode: overlay; */
  /* background: url('./Static/img/mask.png'), radial-gradient(circle farthest-corner at 0 0, #000 30%, #a899fb 65%, #732fc9 80%, #c1f1ff 110%) no-repeat, radial-gradient(closest-side at 60% 50%, #732fc9 20%, #000 100%) no-repeat;; */

  /* background: #d7d6d6; */
}


